# Ignore artifacts
.next
out
build
dist

# Ignore node modules
node_modules

# Ignore files
*.log
.env
.env.local
.env.*.local

# Ignore lock files
pnpm-lock.yaml
package-lock.json
yarn.lock

# Ignore coverage
coverage

# Ignore IDE
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
